body>main{
    width: 100%;
    height: 100%;
}

.mainbar{
    grid-area: header;
    background-color: red;
    height: 50%;
  }
  .sidebar {
    background-color: rgb(15, 124, 123);
    grid-area: main;
    height: 65%;
  }
  .minibar {
    background-color: rgb(19, 76, 167);
    grid-area: sidebar;
    height: 70%;
  }
  .subpart{
    background-color: rgb(123, 0, 255);
    grid-area: footer;
    height: 50%;
  }
  
.allParts{
    width: 100vw;
      height: 100vh;
      background-color: rgb(100, 110, 105);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "main footer footer footer"
      "main footer footer footer"
      "main header header header "
      "main header header header"
      "main header header header";
      /* grid-gap: 20px; */
      
}